body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: Monospace;
  font-size: 13px;
  line-height: 24px;
  overscroll-behavior: none;
}

#container {
  position: absolute;
  z-index: 0;
  cursor: pointer;
}

@keyframes escaped{
  0% {
    opacity: 0%;
    top: 90vh; 
  }
  100% {
    opacity: 100%;
    top: 30vh;
  }
}

#message {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  font-size: 10vh;
  font-family: Georgia, serif;
  background: transparent;
  justify-content: center;
  z-index: 1;
}

#message a {
  color: gray;
  text-decoration: none;
}

#message.escaped {
  display: flex;
  opacity: 100%;
  top: 30vh;
  animation: escaped 5s;
}
