html, body, pre, code, kbd, samp {
    font-family: "Press Start 2P", monospace;;
}

body {
    background-color: #212529;
    font-size: 12px;
    display: flex;
    align-content: center;
    height: 100vh;
    justify-content: center;
    flex-wrap: wrap;
}

body::before,
.nes-dialog::before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: repeating-linear-gradient(#0004, #0004 1px, transparent 1px, transparent 2px);
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

.nes-dialog {
    max-width: 90%;
}

h1 {
    text-shadow: 0 3px #adafbc;
}

.is-centered {
    text-align: center;
}

#keyMapInput {
    background-image: url(img/keyboard.png);
    background-repeat: repeat-x;
    background-size: 240px 50px;
    margin: auto;
    color: white;
    text-shadow: #444 0 2px, #444 2px 0, #444 0 -2px, #444 -2px 0;
    text-transform: uppercase;
    padding-left: 4px;
    padding-right: 0;
    letter-spacing: 4px;
    width: calc(25em + 108px);
    height: 54px;
    font-size: 16px;
    caret-color: transparent;
}

#keyMapInput::selection {
    color: #209cee;
}

#keyMapInput,
input[type=range]{
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}

.sliders {
    display: flex;
    justify-content: center;
    overflow-x: scroll;
}

.sliders label {
    display: flex;
    flex-flow: column;
    margin: 5px;
    align-items: center;
    gap: 9px;
}

input[type=range][orient=vertical] {
    -webkit-appearance: slider-vertical;
    width: 4px;
    height: 100px;
}

input[type=range] {
    padding: 0;
    width: 3px;
}

input[type=range]::-moz-range-thumb {
    border-radius: 0;
    border: 3px solid white;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 0;
    border: 3px solid white;
}

input[type=range]::-ms-thumb {
    border-radius: 0;
    border: 3px solid white;
}

input[type=range]::-moz-range-thumb {
    background: white;
    border: white !important;
}

input[type=range]::-moz-range-track {
    background: transparent;
    width: 3px;
    border-left: 0;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-radius: 0;
    padding: -0 7px;
    background-image: linear-gradient(white);
}
      
input[type=range]::-webkit-slider-runnable-track {
    background: transparent;
    width: 3px;
    border-left: 0;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-radius: 0;
    padding: -0 7px;
    background-image: linear-gradient(white);
}
      
input[type=range]::-ms-track {
    background: transparent;
    width: 3px;
    border-left: 0;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-radius: 0;
    padding: -0 7px;
    background-image: linear-gradient(white);
}

#settingsButton {
    position: fixed;
    bottom: 25px;
    right: 2rem;
    box-shadow: 0 5px 20px rgba(0,0,0,.6);
}

svg {
    width: 32px;
    height: 32px;
}

.nes-container,
.nes-balloon,
.nes-balloon.is-dark,.nes-btn,
.nes-container.is-rounded,
.nes-container.is-rounded.is-dark,
.nes-dialog.is-rounded,
.nes-dialog.is-rounded.is-dark,
.nes-progress,
.nes-progress.is-rounded,
.nes-table.is-bordered,
.nes-table.is-dark.is-bordered,
.nes-input,
.nes-textarea,
.nes-select select {
    border-style: solid;
    border-width: 2px;
    border-image-outset: 2;
}

.nes-btn {
    padding: 4px 6px;
}

.nes-btn:active:not(.is-disabled)::after {
    box-shadow: inset 2px 2px #adafbc;
}

.nes-btn:hover::after {
    box-shadow: inset -2px -2px #adafbc;
}

.nes-btn::after {
    box-shadow: inset -2px -2px #adafbc;
}
